:root {
  --green: #019147;
  --safron: #ff9822;
  --black: #121413;
  --gray: #646464;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navber style */

.nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  display: flex;
  align-items: center;
}
.nav .logo img {
  width: 100px;
  height: 100px;
}
.nav .logo h2 {
  font-size: 25px;
  font-weight: 700;
}

.nav .items ul {
  list-style: none;
  color: var(gray);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.nav .donate-btn button {
  outline: none;
  border: none;
  background: var(--safron);
  color: #ffff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}

/* responsive */
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* navber responsive */
  .nav {
    width: 100%;
    padding-right: 15px;
  }
  .nav .items ul {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) {
  /* navber responsive */
  .nav {
    flex-direction: column;
    width: 90%;
  }
  .nav .items ul {
    margin-bottom: 20px;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  /* navber responsive */
  .nav {
    flex-direction: column;
    width: 90%;
  }
  .nav .items ul {
    margin-bottom: 20px;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  /* navber responsive */
  .nav {
    width: 100%;
    padding: 0 10px;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  /* navber responsive */
  .nav {
    width: 90%;
    padding: 0 10px;
  }
}
