:root {
  --green: #019147;
  --safron: #ff9822;
  --black: #121413;
  --gray: #646464;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navber style */

.nav {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .logo {
  display: flex;
  align-items: center;
}
.nav .logo img {
  width: 100px;
  height: 100px;
}
.nav .logo h2 {
  font-size: 25px;
  font-weight: 700;
}

.nav .items ul {
  list-style: none;
  color: var(gray);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.nav .donate-btn button,
.hero .content button {
  outline: none;
  border: none;
  background: var(--safron);
  color: #ffff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 5px;
}

/* hero section style */
.hero {
  max-width: 73%;
  min-height: 600px;
  margin: 30px auto;
  background: linear-gradient(90deg, #019147 0%, rgba(0, 95, 172, 0) 100%), url(img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 0 100px;
  display: flex;
  align-items: center;
}

.hero .content {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.hero .content h2 {
  font-size: 40px;
  font-weight: 700;
  color: #ffff;
}
.hero .content p {
  font-size: 16px;
  font-weight: 300;
  color: #ffff;
  margin: 15px 0;
}

.hero .content button {
  max-width: 200px;
}

/* responsive */
/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* navber responsive */
  .nav {
    width: 100%;
    padding-right: 15px;
  }
  .nav .items ul {
    display: none;
  }

  /* hero section */
  .hero {
    max-width: 100%;
    padding: 5px 5px;
    margin: 10px 10px;
    padding: 0 30px;
  }

  .hero .content {
    width: 100%;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.98px) and (max-width: 767.98px) {
  /* navber responsive */
  .nav {
    flex-direction: column;
    width: 90%;
  }
  .nav .items ul {
    margin-bottom: 20px;
  }

  /* hero section */
  .hero {
    max-width: 80%;
    padding: 5px 5px;
    padding: 0 70px;
    margin-top: 30px;
  }

  .hero .content {
    width: 100%;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.98px) and (max-width: 991.98px) {
  /* navber responsive */
  .nav {
    flex-direction: column;
    width: 90%;
  }
  .nav .items ul {
    margin-bottom: 20px;
  }

  /* hero section */
  .hero {
    max-width: 80%;
    padding: 5px 5px;
    padding: 0 70px;
    margin-top: 30px;
  }

  .hero .content {
    width: 100%;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  /* navber responsive */
  .nav {
    width: 95%;
    padding: 0 10px;
  }

  /* hero section */
  .hero {
    max-width: 97%;
    padding: 5px 5px;
    padding: 0 70px;
    margin-top: 30px;
  }

  .hero .content {
    width: 100%;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  /* navber responsive */
  .nav {
    width: 80%;
    padding: 0 10px;
  }

  /* hero section */
  .hero {
    max-width: 85%;
    padding: 5px 5px;
    padding: 0 70px;
    margin-top: 30px;
  }

  .hero .content {
    width: 100%;
  }
}
